*{
    color: rgb(255, 255, 255);
    /*font-family: Neue Machina Light; */
    font-family: 'neue_machinaregular', sans-serif;
     
}

@font-face {
    font-family: 'neue_machinaregular';
    src: url('fonts/webfontkit-20240706-220330/neuemachina-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20240706-220330/neuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,0.8379726890756303) 100%);
    overflow-x: hidden;
    
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.8fr;
    grid-gap: 10px;
    padding: 10px;
    position: relative;
    height: 100%; 
}

.title{
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid black;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: 1 / 2;
    background-color: #2b47d0;
    
}

.title  h1{
    color: #ffffff;
    font-size: 3rem;
}
.typed .direct {
    color: #fcc72c; /* Cambia el color según tus necesidades */
  }

.titleCont2{
    display: flex;
    align-items: center;
}
.titleCont2 p{
  margin: 0;
  margin-right: 10px;
  text-align: justify;
}
.titleCont2 img{
    width: 250px;
    height: auto;
}


.subTitle{
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid black;
    grid-row: 1;
    grid-column: 2 / 2;
    background-color:  #f5f4f1;
}

.subTitle-cont h1,
  .subTitle-cont h2,
  .subTitle-cont h3 {
    margin: 10px 0;
    color: #333; 
  }

.subTitle h1{
    color: black;
    text-align: center;
    font-size: 3.5rem;
    text-align: start;

}
.subTitle h2{
    color: #2b47d0;
    text-align: center;
    font-size: 3rem;
    text-align: start;
}
.subTitle h3{
    color: #fcc72c;
    text-align: center;
    font-size: 2.5rem;
    text-align: start;
}
.subTitle img{
    width: 50%;
}

.img-and-h3{
    display: flex;
}


.step1{
    padding: 10px;
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border-radius: 1rem;
    border: 1px solid black;
    grid-row: 2 ;
    grid-column: 1 ;
    background-color: #ff9838;
}
.step1 h2{
    font-size: 3rem;
}


.step1-container2{
    display: flex;
    
}

.step1-container2 img{
    width: 50%;
}

.step1-container2 h3{
    justify-content: start;
    font-size: 2.5rem;
    color:#2b47d0;
  
               
}

.step2{
    box-shadow: 10px 5px 10px rgba(0.2,1,1,1);
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid black;
    grid-row: 2 ;
    grid-column: 2 / 3;
    background-color: #2b47d0;
    cursor: pointer;
}
.step2 h1{
    font-size: 3rem;  
}

.step2-Cont h2{
    text-align: end;
    font-size: 2.5rem;
    color: #fcc72c;
}

.step2-Cont h3{
    text-align: start;
    font-size: 2.5rem;
}

.step2-img{
    display: flex;
    width: 250px;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 10px; /* Espacio entre las imágenes, ajusta según necesidad */
     /* Espacio entre el texto y las imágenes */
}


.step3{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid black;
    background-color: #fcc72c;
}
.step3 h1{
    font-size: 3rem;
}

.step3 h2, p{
    font-size: 2rem;
    color: black;
    
}


.step3 h3{
    color: #ffffff;
    font-size: 1.6rem;
    text-align: center;
}

.step4{ /*Step with Document*/
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border-radius: 1rem;
    padding: 10px;
    grid-row: 4 / 4;
    grid-column: 2 / 2;
    background-color: #2b47d0; 
}

.step4 p{
    color: #ffffff;
    text-align: justify;
}

.step5{
    grid-row: 3 / 5;
    grid-column: 1;
    background-color: rgba(23, 0, 105, 0.626);
    border-radius: 1rem;
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    padding: 10px;
}
.step5 h1{
    font-size: 3rem;
    text-align: start;
}
.step5 h2{
    color: #fcc72c;
    font-size: 3rem;
}
.step5 h3{
    font-size: 1.5rem;
    text-align: justify;
}
.step5 p{
    font-size: 2rem;
    text-align: justify;
    color: #FFF;
}

.profile{
    background-color: #150067a0;
    border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    
}
.profile h1{
    text-align: center;
    font-size: 3.5rem;
}
.profile h2{
    font-size: 2rem;
    text-align: star;
}
.profile h3{
    text-align: start;
    color: #fcc72c;
    font-size: 2rem;
}
.profile p{
    text-align: justify;
    color: #f5f4f1;
}

.profile .profileImg{
    text-align: center;
}

/*Dashboard section to style-------------------------------------*/
.dashboard{
    border-radius: 1rem;
    grid-row: 1 / 4;
    grid-column: 3;
    background-color: rgba(23, 0, 105, 0.626);
}

.dash-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
}

.dash-st1{
    border: 2px solid #2b47d0;
    padding: 10px;
}

.dash-logo{
    display: flex;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.dash-logo h1{
    font-size: 3.5rem;
}

.dash-logo img{
    width: 50%;
}

.dash-st1{
    padding-top: 20px;
    border-radius: 1rem;
    background-color: #ffffff;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

.dash-st2{
    grid-row: inherit;
    grid-template-columns: auto;
    box-shadow: 10px 5px 10px rgba(0,1,1,1);
    border: 0.3rem solid #fcc82c00;
    border-radius: 1rem;
    padding: 5px;
    grid-column: 1 / 3;
}
.dash-st2 p{
    color: #f5f4f1;
    font-size: 2rem;
}
.dash-st2 h1{
    font-size: 3rem;

}

.dash-st3{
    padding-top: 20px;
    border-radius: 1rem;
    background-color: #FFF;
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}

.dash-st4{
    background-color: #ffffff;
    border-radius: 1rem;
    grid-row: 4 / 4;
    grid-column: 1 / 3;
}

/*Dashboard section end-----------------------------------------*/
